<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Overview</th>
    <th>Goals</th>
    <th>Created by</th>
    <th>Assigned to</th>
    <th>Create date</th>
    <th>End date</th>
    <th>Blockers</th>
    <th>Blocking</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.overview %></td>
    <td><%= task.goals %></td>
    <td><%= task.created_by %></td>
    <td><%= task.assigned_to %></td>
    <td><%= task.create_date %></td>
    <td><%= task.end_date %></td>
    <td><%= task.blockers %></td>
    <td><%= task.blocking %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
